# ignore task documentation
doc/assignment .pdf

# ignore environment files
bin/*
data/*
etc/*
include/*
lib/*
notebooks/.ipynb*/*
share/*
pyvenv.cfg

# Python cache
__pycache__/*
*/__pycache__/*

# model artifacts
artifacts/*

# credentials files
doc/credentials.txt
doc/mlflow-consumer-complaints-case-study.pem
doc/mlflow.tracking_server.host.txt
