# ignore task documentation
doc/assignment .pdf

# ignore environment files
bin/*
data/*
etc/*
include/*
lib/*
notebooks/.ipynb*/*
share/*
pyvenv.cfg

# Python cache
model/__pycache__/Model.cpython-39.pyc
